body {
      font-family: 'Segoe UI', sans-serif;
      background-color: #f0f8ff;
      padding: 30px;
      color: #222;
    }

    h1 {
      text-align: center;
      color: #1e3d59;
      margin-bottom: 40px;
    }
    h2 {
      text-align: center;
      color: #227;
      margin-bottom: 40px;
      background-color: #CBC3E3;
      border-radius: 22px;
      font-size: xx-large;
    }

    .main-subject {
      margin-bottom: 50px;
      padding: 20px;
      border: 2px solid #ccc;
      border-radius: 12px;
      background-color: #ffffff;
    }

    .main-subject h2 {
      font-size: 26px;
      color: #1e6091;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
    }

    .main-subject h2 .material-symbols-outlined {
      font-size: 30px;
      margin-right: 10px;
      color: #38a3a5;
    }
    
       .chapter {
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 15px;
      margin-bottom: 20px;
      background-color: #f9f9f9;
    }

    .chapter h3 {
      font-size: 20px;
      color: #22577a;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
    }

    .chapter h3 .material-symbols-outlined {
      font-size: 22px;
      margin-right: 8px;
      color: #3a86ff;
    }

    .part {
      margin: 8px 0;
    }


   .btn-link {
     display: inline-block;
     background-color: #1e6091;
     color: white;
     padding: 8px 16px;
     border: none;
     border-radius: 5px;
     text-decoration: none;
     font-size: 14px;
     transition: background-color 0.3s;
   }
   
   .btn-link:hover {
     background-color: #144e78;
   }